# Environments and Secrets
.env
__pycache__/
*.py[cod]
*.jks

# Databases
*.db

# Build, Temp, and Storage directories
build/
temp/
storage/
playwright_profile/

# Ignore downloaded paystubs
data/PayStubs/*.html
